<template>
  <v-container>
    <h1>Traffic analysis of Marseille port</h1>
    <h2>Time to next data update: {{countdown | minutesAndSeconds}}</h2>
    <v-card class="d-flex justify-center m-auto">
      <v-row align="center" justify="center">
        <v-col class="d-flex justify-center" cols="12">
          <GeoMap :geoData="geoResp" />
        </v-col>
      </v-row>
    </v-card>
    <v-card class="d-flex justify-center m-auto">
      <h2>Summary statistics</h2>
      <v-row no-gutters align="center" justify="space-between">
        <v-col class="d-flex justify-center m-auto" xs="12" sm="6" md="6" cols="12">
          <StatusChart :statusData="statusResp" />
        </v-col>
        <v-col class="d-flex justify-center m-auto" xs="12" sm="6" md="6" cols="12">
          <ShipTypeChart :typeData="typeResp" />
        </v-col>
      </v-row>
      <v-row align="center" justify="space-between">
        <v-col class="d-flex justify-center m-auto" xs="12" sm="6" md="6" cols="12">
          <SpeedChart :speedData="speedResp" />
        </v-col>
        <v-col class="d-flex justify-center m-auto" xs="12" sm="6" md="6" cols="12">
          <LengthChart :lengthData="lengthResp" />
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";
import GeoMap from "./components/GeoMap.vue";
import StatusChart from "./components/StatusChart.vue";
import SpeedChart from "./components/SpeedChart.vue";
import LengthChart from "./components/LengthChart.vue";
import ShipTypeChart from "./components/ShipTypeChart.vue";
const totaltime = 60 * 10;
export default {
  name: "app",
  data() {
    return {
      statusResp: [],
      typeResp: [],
      speedResp: [],
      lengthResp: [],
      geoResp: [],
      posts: "",
      errors: [],
      polling: null,
      countpol: null,
      countdown: totaltime
    };
  },
  components: {
    GeoMap,
    StatusChart,
    SpeedChart,
    LengthChart,
    ShipTypeChart
  },
  methods: {
    getData() {
      axios
        .get(`/data`)
        .then(response => {
          // JSON responses are automatically parsed.
          [
            this.statusResp,
            this.typeResp,
            this.speedResp,
            this.lengthResp,
            this.geoResp
          ] = response.data;
        })
        .catch(e => {
          console.log(e);
        });
    },
    intervalFetchData() {
      this.polling = setInterval(() => {
        this.getData();
        this.countdown = totaltime;
      }, totaltime * 1000);
    }
  },
  filters: {
    minutesAndSeconds(value) {
      var minutes = Math.floor(parseInt(value, 10) / 60);
      var seconds = parseInt(value, 10) - minutes * 60;
      return `${minutes}:${seconds}`;
    }
  },
  mounted() {
    this.countpol = setInterval(() => {
      this.countdown -= 1;
    }, 1000);
  },
  beforeDestroy() {
    clearInterval(this.polling);
  },
  created() {
    this.getData();
    this.intervalFetchData();
  }
};
</script>

<style scoped>
h1 {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-family: Garamond;
}
h2 {
  text-align: center;
  margin-top: 1.5em;
  padding-top: 0.8em;
  margin-bottom: 1em;
  font-family: Garamond;
}
</style>