<template>
  <div>hi how are you</div>
</template>

<script>
import axios from "axios";
export default {
  name: "FlaskRequests",
  data() {
    return {
      posts: "",
      errors: []
    };
  },
  created() {
    axios
      .get(`http://localhost:5000/`)
      .then(response => {
        // JSON responses are automatically parsed.
        this.$emit("flaskResponse", response.data);
      })
      .catch(e => {
        console.log(e);
      });
  }
};
</script>

<style>
</style>