<template>
  <div style=" height: 60vh; display: flex; justify-content: center;">
    <l-map :zoom="zoom" :center="center">
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
      <!-- <l-marker-cluster :options="clusterOptions" @clusterclick="click()" @ready="ready"> -->
      <l-marker-cluster :options="clusterOptions">
        <l-marker v-for="l in locations" :key="l.id" :lat-lng="l.latlng">
          <l-popup>
            <pre><strong>  Name:</strong>{{l.Name}}</pre>
            <pre><strong>  Type:</strong>{{l.Type}}</pre>
            <pre><strong>Status:</strong>{{l.Status}}</pre>
            <pre><strong>Length:</strong>{{l.Length}}m</pre>
            <pre><strong> Speed:</strong>{{l.Speed}}kn</pre>
          </l-popup>
        </l-marker>
      </l-marker-cluster>
    </l-map>
  </div>
</template>

<script>
import { LMap, LTileLayer, LMarker, LPopup } from "vue2-leaflet";
import Vue2LeafletMarkercluster from "vue2-leaflet-markercluster";
export default {
  name: "GeoMap",
  props: ["geoData"],
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    "l-marker-cluster": Vue2LeafletMarkercluster
  },
  // methods: {
  //   click: e => console.log("clusterclick", e),
  //   ready: e => console.log("ready", e)
  // },
  data() {
    return {
      locations: [],
      clusterOptions: {},
      zoom: 8,
      center: L.latLng(43.2976, 5.3471),
      url:
        "https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=sk.eyJ1IjoibWFydGFuZHNpbmdoYWwiLCJhIjoiY2s0OGpvYWN5MDF5ZDNzdGRhYTRvcGxyZCJ9.FCvHHRTPA5P1Ye6J4DGamQ",
      attribution:
        'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      marker: L.latLng(43.2976, 5.3471)
    };
  },
  watch: {
    geoData() {
      this.locations = [];
      for (let i = 0; i < this.geoData.length; i++) {
        this.locations.push({
          id: i,
          Name: this.geoData[i].Name,
          Type: this.geoData[i].Type,
          Status: this.geoData[i].Status,
          latlng: [this.geoData[i].Coord[0], this.geoData[i].Coord[1]],
          Length: this.geoData[i].Length,
          Speed: this.geoData[i].Speed
        });
      }
      // console.log(this.locations);
      // console.log("getlocation just ran");
      return this.locations;
    }
  },
  mounted() {
    setTimeout(() => {
      this.$nextTick(() => {
        this.clusterOptions = { disableClusteringAtZoom: 11 };
      });
    }, 5000);
  }
};
</script>