<template>
  <div id="vega-box2"></div>
</template>

<script>
import json from "./ShipTypeChart.json";
import { default as vegaEmbed } from "vega-embed";
import { changeset } from "vega";
export default {
  name: "ShipTypeChart",
  props: ["typeData"],
  watch: {
    typeData() {
      return vegaEmbed("#vega-box2", json, { actions: false }).then(res => {
        res.view
          .change("table", changeset().insert(this.typeData))
          .height(350)
          .run();
      });
    }
  }
};
</script>

<style scoped>
div {
  display: flex;
  justify-content: center;
  height: 100%;
  max-height: 80%;
  width: 100%;
  max-width: 90%;
  min-width: 10vh;
  min-height: 40vh;
  padding-left: 9%;
}
</style>