<template>
  <div id="vega-box"></div>
</template>

<script>
import json from "./SpeedChart.json";
import { default as vegaEmbed } from "vega-embed";
import { changeset } from "vega";
export default {
  name: "SpeedChart",
  props: ["speedData"],
  watch: {
    speedData() {
      return vegaEmbed("#vega-box", json, { actions: false }).then(res => {
        res.view
          .change("table", changeset().insert(this.speedData))
          .height(350)
          .run();
      });
    }
  }
};
</script>

<style scoped>
div {
  display: flex;
  justify-content: center;
  height: 100%;
  max-height: 80%;
  min-height: 40vh;
  width: 100%;
  max-width: 90%;
  min-width: 10vh;
  padding-left: 8%;
  font-size: 10%;
}
</style>