<template>
  <div id="vega-box3"></div>
</template>

<script>
import json from "./StatusChart.json";
import { default as vegaEmbed } from "vega-embed";
import { changeset } from "vega";
export default {
  name: "StatusChart",
  props: ["statusData"],
  watch: {
    statusData() {
      return vegaEmbed("#vega-box3", json, { actions: false }).then(res => {
        res.view.change("table", changeset().insert(this.statusData)).run();
      });
    }
  }
};
</script>

<style scoped>
div {
  display: flex;
  justify-content: center;
  height: 100%;
  max-height: 80%;
  width: 100%;
  max-width: 70%;
  min-width: 40vh;
  padding-left: 33%;
}
</style>